/*--------------------------------------------Text Colors*/

.jumbotron{
    color: #d5dcf3
}

a {
    color: #e4eaed
}

/*--------------------------------------------Background Colors*/

.navy-bg {
  background: linear-gradient(to right, #3C4759 0%, #575664 113%);
}

body {
    background-color: #d4cfc8;
}


/*--------------------------------------------3 boxes*/


.card-img {
    height: 100%;
}

/*--------------------------------------------Jumbotron*/
.hero-image {
    background-image: url('../images/book.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}
