/*--------------------------------------------Navbar*/





/*--------------------------------------------Text Colors*/



/*--------------------------------------------Background Colors*/




/*--------------------------------------------Jumbotron*/

.hero-image {
    background-image: url('../images/weights.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

.jumbotron {
    margin-bottom: 0rem;

}

/*--------------------------------------------body*/

.banner {
    border-top-style: solid;
    border-bottom-style: solid;
    padding: .5rem;
    margin: 2rem;


}
.banner h2 {
    padding:.25rem;
    margin: 0rem;
}
/*--------------------------------------------testimonials*/


.media-body p {
    font-size: 14px; 
}

.quote-name {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.media {
     border: 2px solid grey;
     border-radius: 5px;
     min-height: 160px;
}

/*--------------------------------------------Footer*/


.social-networks {
    padding-inline-start: 0px;
     text-align: center;
}

.social-networks li {
    display: inline;
    
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777; 
}

.social-section {
    color: #777777;
    padding: 25px;
}

.contactinfo {
    float: left;
    padding: 25px;
    color: #777777;
    display: inline-block;
   
}

.contactinfo p {
    text-align: center;
}

.contactinfo i {
    font-size: 120%;
    color: #777777; 
    margin:1%;
    display: inline-block;
}

.copyright {
    font-size: 60%;
    vertical-align: bottom;
    color: #777777;
    text-align: center;
}


.price-boxes {
    padding: 2%;
    margin: 2%;
}