/*--------------------------------------------Navbar*/


.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*--------------------------------------------Text Colors*/

a {
    color: #e4eaed
}

/*--------------------------------------------Background Colors*/

.navy-bg {
  background: linear-gradient(to right, #3C4759 0%, #575664 113%);
}

body {
    background-color: #ffffff;
}



/*--------------------------------------------Jumbotron*/

.hero-image {
    background-image: url('../images/weights.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

/*--------------------------------------------3 boxes*/




/*--------------------------------------------Footer*/


footer{
    height: 150px;
}
.social-networks {
  
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}